

.menu-item-img {

    height: 400px;
    width: 800px;
    object-fit: cover; /* Ensure the image fills the container */
    
    margin-top: -3px;
    object-fit: contain;
}

.menu-item-img-dessert {
  
    height: 400px;
    width: 800px;
    object-fit: cover; /* Ensure the image fills the container */
    
    margin-top: -3px;
    object-fit: contain;
 
}

.menu-item-img-drinks {
   
    
    height: 400px;
    width: 800px;
    object-fit: cover; /* Ensure the image fills the container */
    
    margin-top: -3px;
    object-fit: contain;
}


.menu-item span {
    font-size: 16px;
    font-weight: bold;
}


