

.menu-item-img {
    
    height: 360px;
    width: 700px;
    object-fit: cover; /* Ensure the image fills the container */
    
    margin-top: 7%;
    object-fit: contain;
}

.menu-item-img-dessert {
  
  
    height: 360px;
    width: 700px;
    object-fit: cover; /* Ensure the image fills the container */
    
    margin-top: 7%;
    object-fit: contain;
 
}

.menu-item-img-drinks {
   
    
    height: 360px;
    width: 700px;
    object-fit: cover; /* Ensure the image fills the container */
    
    margin-top: 7%;
    object-fit: contain;
 
}






